<template>
  <div>
    This is the Questions Page.
    <single-question
      v-if="questionObjects.length"
      :id="0"
      :question="this.getCurrentQuestion()"
      :correctAnswer="this.getCorrectAnswer()"
      :incorrectAnswers="this.getIncorrectAnswers()"
      @user-answered="eventHandler"
    />
  </div>
</template>

<script>
import { getAllQuestions } from "../api/triviaApi.js";
import SingleQuestion from "../components/SingleQuestion.vue";
export default {
  name: "QuestionsPage",
  components: {
    SingleQuestion,
  },
  /**
   * Before it is created, this component makes an api-call
   */
  async beforeCreate() {
    try {
      this.questionObjects = await getAllQuestions();
      console.log("Have received questions");
      console.log(this.questionObjects);
    } catch (err) {
      console.error(err);
    }
  },

  data() {
    return {
      questionObjects: [],
      currentQuestionId: 0,
      userAnswers: [],
    };
  },

  methods: {
    /**
     *  Handles the user-event sent by singeQuestion.vue
     */
    eventHandler(userAnswer) {
      this.userAnswers[this.currentQuestionId] = userAnswer;
      this.nextQuestion();
    },

    /**
     * Is called when user has answered
     */
    nextQuestion() {
      if (this.currentQuestionId === (this.questionObjects.length - 1)) {
        let correctAns = [];
        for (let index = 0; index < this.questionObjects.length; index++) {
          correctAns.push(this.questionObjects[index].correct_answer);
        }
        //The questions have all been answered.
        this.$router.push({
          name: 'Results',
          params: { answers:{userAnswers: this.userAnswers, correctAnswers: correctAns} },
        });
      } else {
        this.currentQuestionId++;
      }
    },
    /**
     * Returns current question based on this.currentQuestionId
     */
    getCurrentQuestion() {
      return this.questionObjects[this.currentQuestionId].question;
    },

    /**
     * Returns the current correct answer
     */
    getCorrectAnswer() {
      return this.questionObjects[this.currentQuestionId].correct_answer;
    },

    /**
     * Returns the current incorrect answers
     */
    getIncorrectAnswers() {
      return this.questionObjects[this.currentQuestionId].incorrect_answers;
    },
  },
};
</script>

<style>
</style>
