<template>
  <div>
    <h1 class="display-3">Results!</h1>
    <p>You managed {{numberCorrect()}} out of 10 questions correctly!</p>
    <b-list-group>
      <b-list-group-item
        v-for="(answer, index) in answers.userAnswers"
        :key="index"
      >
        <b-list-group-item
          v-if="answer != answers.correctAnswers[index]"
           variant="danger"
        >
          Your answer: {{ answer }} | Correct answer:
          {{ answers.correctAnswers[index] }}
        </b-list-group-item>

        <b-list-group-item
          v-if="answer === answers.correctAnswers[index]"
          variant="success"
        >
          Your answer is correct: {{ answer }}
        </b-list-group-item>
      </b-list-group-item>
    </b-list-group>
    <br>
    <button @click="$router.push(`/questionspage`)" class="btn btn-danger" >PLAY AGAIN</button>
  </div>
</template>

<script>
export default {
  name: "Results",
  props: {
    answers: {
      userAnswers: [],
      correctAnswers: [],
      required: true,
    },
  },
  mounted() {
    console.log(this.answers.userAnswers);
    console.log(this.answers.correctAnswers);
  },
  methods: {
    numberCorrect (){
      let i = 0;
      let correct = 0;

      while (i < 10){
        if (this.answers.userAnswers[i] === this.answers.correctAnswers[i]){
        correct+=1;        
      }
        i++;
      }
      return correct;
    }
  }
};
</script>

<style>
</style>
