<template>
    <div><h1>Welcome to the TriVue Game!</h1>
    <p>In this quiz you will be presented with 10 random questions!</p>
    <button @click="$router.push(`/questionspage`)" class="btn btn-danger" >PLAY NOW</button>
    </div>
</template>