<template>
  <div>
    {{ question }}
    <b-list-group>
      <b-list-group-item
        v-for="(answer, index) in answers"
        :key="index"
        button
        @click="userAnswered(answer)"
      >
        {{ answer }}
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  name: "SingleQuestion",
  props: {
    question: String,
    id: Number,
    correctAnswer: String,
    incorrectAnswers: Array,
  },
  computed: {
    answers() {
      let answers = this.incorrectAnswers;
      //Inserts the correct answer randomly in the answer array.
      answers.splice(Math.random(0, answers.length), 0, this.correctAnswer);
      return answers;
    },
  },

  methods: {
    userAnswered(userAnswer) {
      console.log(userAnswer);
      this.$emit("user-answered", userAnswer);
    },
  },
};
</script>

<style></style>
